.about small {
  font-weight: 300;
  text-align: justify;
  line-height: 1.8;
  font-size: 14px;
  display: block;
}
.aboutus-info {
  transition: 0.3s;
  padding: 8px;
  border-radius: 10px;
}
.aboutus-info:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.send-form input,
.send-form textarea {
  border: 1px solid #eee !important;
}
.send-form textarea::placeholder,
.send-form input::placeholder {
  font-weight: 300;
  font-size: 13px;
}
.send a {
  background-color: #ff5a60;
  color: #fff !important;
  font-size: 14px;
}
