.search input {
  border: 1px solid #eee !important ;
}
.search a {
  background-color: #ff5a60;
  color: #fff;
  border: 1px solid #ff5a60;
  font-weight: 300;
}
.search a:hover {
  transition: 0.3s;
  background-color: #fff;
  color: #ff5a60;
}
.form-group {
  display: flex;
  column-gap: 10px;
}
.category-p a {
  transition: 0.3s;
  font-size: 14px;
}
.category-p a:hover {
  color: #ff5a60 !important;
  margin-right: 10px;
}
.qu {
  border-radius: 15px;
  border-right: 4px solid #ff5a60 !important;
  border-left: 4px solid #ff5a60 !important;
}
.icon-arrow {
  color: #8493a2 !important;
  transition: 0.1s;
}
.icon-arrow:hover {
  color: #ff5a60 !important;
}
.right-arrow p {
  color: #8493a2;
  transition: 0.1s;
}
.right-arrow p:hover {
  color: #ff5a60 !important;
}

.review img {
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
  object-fit: cover;
}
.date-comment {
  font-size: 12px;
  font-weight: 300;
}

.reviwe2 textarea::placeholder,
input::placeholder {
  font-weight: 300;
  font-size: 13px !important;
}
.reviwe2 a {
  background-color: #ff5a60 !important;
  margin-top: 10px;
  color: #fff;
  border: 1px solid transparent;
}
.reviwe2 a:hover {
  background-color: #fff !important;
  margin-top: 10px;
  color: #ff5a60;
  border-color: #ff5a60;
}
@media (min-width: 768px) {
}
