.ico-printer a {
  background-color: #ff5a60;
  border: 0;
  transition: 0.3s;
  box-shadow: none !important;
}
.ico-printer a svg {
  color: #fff;
}
.ico-printer a:hover {
  background-color: #e9534f;
  box-shadow: 0 0 10px rgba(233, 83, 79, 0.8) !important;
}
.ico-printer h5 {
  font-weight: 750;
}
.card-customer-sidebar img {
  width: 8rem;
}
.card-customer-sidebar .my-homes {
  font-size: 13px;
  font-weight: light;
}
.card-customer-sidebar textarea {
  border: 1px solid #eee !important;
  resize: none;
}
.card-customer-sidebar textarea::placeholder,
input::placeholder {
  font-weight: 300;
  font-size: 13px !important;
}
.info-main .hvr-shadow:hover {
  background: #344765;
  border-color: #344765;

  color: #fff;
  transition: 0.3s;
}
.desc-product-text {
  font-weight: 300;
  text-align: justify;
  line-height: 2;
}
.download {
  background: transparent;
  padding: 8px;
  z-index: 1;
  border-radius: 5px;
}
.download::before {
  position: absolute;
  content: "";
  width: 26%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 40px 5px 5px 40px;
  z-index: -1;
  background: rgba(90, 99, 109, 0.1);
  transition: 0.5s;
}
.download:hover::before {
  width: 100%;
  border-radius: 5px;
}
.play {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.download2 small {
  margin-top: 5px;
  font-size: 12px;
}
