@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iranyekanwebboldfanum.eot");
  src: url("../fonts/eot/iranyekanwebboldfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebboldfanum.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/eot/iranyekanwebthinfanum.eot");
  src: url("../fonts/eot/iranyekanwebthinfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebthinfanum.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iranyekanweblightfanum.eot");
  src: url("../fonts/eot/iranyekanweblightfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanweblightfanum.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iranyekanwebregularfanum.eot");
  src: url("../fonts/eot/iranyekanwebregularfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebregularfanum.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/iranyekanwebmediumfanum.eot");
  src: url("../fonts/eot/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebmediumfanum.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/eot/iranyekanwebextraboldfanum.eot");
  src: url("../fonts/eot/iranyekanwebextraboldfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebextraboldfanum.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("../fonts/eot/iranyekanwebblackfanum.eot");
  src: url("../fonts/eot/iranyekanwebblackfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebblackfanum.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/iranyekanwebextrablackfanum.eot");
  src: url("../fonts/eot/iranyekanwebextrablackfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebextrablackfanum.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

* {
  font-family: "iranyekan";
}

a {
  text-decoration: none;
}
.bg-navbar {
  background-color: #1d2a3d;
}
.menu li a {
  font-size: 0.85rem;
}
.menu .nav-item:not(:last-child) .nav-link {
  border-radius: 5px;
  color: #fff;
}
.menu .nav-item:not(:last-child) a:hover {
  background-color: #fff;
  transition: all 0.2s ease;
  color: #1d2a3d;
}
.menu .dropdown-menu .dropdown-item:hover {
  background: #1d2a3d !important;
  color: #fff !important;
}

.menu .nav-item:last-child {
  background-color: #344765;
  border-radius: 7px;
  transition: 0.3s;
  border: 1px solid #344765;
}
.menu .nav-item:last-child a {
  color: #fff;
  transition: 0.3s;
}
.menu .nav-item:last-child:hover {
  background-color: transparent;
  border-color: #fff;
  transition: 0.3;
}
.header-two select,
input {
  outline: none !important;
}

.header-two select,
input::placeholder {
  font-size: 14px;
  font-weight: 300;
}
.header-two a {
  font-size: 14px;
  border-left: 4px dotted #ccc;
  border-radius: 0;
}
.header-two a:hover {
  border-left: 4px dotted #ccc;
}
.header-two button {
  color: #fff;
  background-color: rgb(233, 83, 79);
  font-size: 14px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}
.header-two button:hover {
  background-color: #fff;
  color: rgb(233, 83, 79);
  border: 1px solid rgb(233, 83, 79);
}
#home-slider .carousel-caption {
  top: 50%;
}
#home-slider .carousel-caption a {
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  border: 1px solid #fff;
}
#home-slider .carousel-caption a:hover {
  background: #fff;
  color: #000;
  border-color: transparent;
}
.features,
.features2 h5 {
  font-size: 16;
  font-weight: 600;
}
.features p {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 7px;
}
.features2 p {
  font-weight: 300;
  font-size: 14px;
}

/* slider-1st */

.custom-card1 {
  transition: 0.3s ease;
  overflow: hidden;
}
.custom-card1:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px !important;
}
.card-img-custom {
  position: relative;
}
.card-img-custom .overlay2 {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.6) 0%,

    rgba(255, 255, 255, 0) 100%
  ) !important;

  color: #fff;
  border-radius: 5px 5px 0 0;
}
.card-img-custom {
  width: 100%;
  height: 250px;
}
.card-img-custom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card-img-custom .overlay-img-cad .top-img-slider small {
  background-color: #1d2a3d;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
}
.card-img-custom .overlay-img-cad .bottom-img-slider a {
  font-size: 13px;
  color: #fff;
  opacity: 0.5;
}
.card-img-custom .overlay-img-cad .bottom-img-slider a:hover {
  opacity: 1;
}
.card-img-custom .overlay-img-cad {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}
.container-item,
.container-item-comment {
  padding: 10px;
  background-color: transparent;
  margin-bottom: 20px;
}
.slick-dots li button:before {
  font-size: 12px;
}
.slick-dots li.slick-active button:before {
  color: #1d2a3d;
}

.city-images {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.city-images img {
  transition: 0.5s;
}
.city-images:hover img {
  transform: scale(1.3) rotate(3deg);
  transition: 0.5s;
}

.overlay3 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}
.overlay-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.2rem;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
.overlay-text p {
  font-weight: bolder;
  font-size: 2rem;
}
.overlay-text small {
  font-weight: 300;
}
.card,
.custom-card1 {
  border-radius: 15px;
}

.choose-us-card p {
  font-weight: 800;
  font-size: 20px;
}
.choose-us-card small {
  font-weight: 300;
  font-size: 14px;
}
.choose-us-card {
  transition: all ease 0.3s;
}
.choose-us-card img {
  background-color: #eee;
}

.choose-us-card:hover img {
  background-color: #fff;
}
.choose-us-card:hover {
  background-color: rgba(255, 0, 0, 0.6);
  color: #fff;
  transition: all 0.3s;
  transform: translateY(-0.5rem);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
}

/*====================coments style==============================*/

.comment-card-2 .card-header small {
  font-weight: 300;
  font-size: 12px;
}
.comment-card-2 {
  transition: 0.3s;
  border-radius: 10px;
}
.comment-card-2:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.comment-card-2 .card-header p {
  font-weight: 700;
  font-size: 23px;
}
.comment-card-2 .card-body p {
  font-weight: 700;
}
.comment-card-2 .card-body small {
  font-size: 11px;
  font-weight: 300;
  line-height: 2;
}
.comment-card-2 .card-body img {
  border: 6px solid #545454;
  border-radius: 100%;
}

.comment-card-3 {
  color: #fff;
  transform: 0.3s;
}
.comment-card-3:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.slider2-comment .slick-dots li button:before {
  font-size: 12px;
}
.slider2-comment .slick-dots li.slick-active button:before {
  color: #fff;
}
/*=====================================Best Price Style==========================================*/
.best-price {
  background-color: #fce043;
  background-image: linear-gradient(315deg, #fce043 0, #fb7ba2 75%);
}
.overlay5 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(39, 60, 117, 0.7);
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.overlay5 a {
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  font-size: 13px;
  color: #273c75;
  background-color: #fff;
  font-weight: 700;
  border: 1px solid transparent;
}
.overlay5 a:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.custom-card-price:hover .overlay5 {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.custom-card-price:hover .overlay5 a {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.custom-card-price:hover .overlay-img-cad2 {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

/*=============================Blog Card Slider=======================================*/
.overlay4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.3s;
  /* z-index: 99; */
}
.overlay4 a {
  transition: 0.3s;
  opacity: 0;
  visibility: visible;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 800;
  background-color: #2980b9 !important;
  color: #fff !important;
  transition-delay: 0.2s;
  transform: scale(0);
}
.hover-card:hover .overlay4 {
  opacity: 1;
  visibility: visible;
}
.hover-card:hover .overlay4 a {
  opacity: 1;
  transform: scale(1);
  transition: 0.3s;
}
.hover-card .overlay4 a:hover {
  color: #2980b9 !important;
  background-color: #fff !important;
  transform: scale(1.1);
}
/*style image of city*/

/* media query */
@media screen and (min-width: 768px) {
  .menu .dropdown-menu {
    display: block;
    border-radius: 0;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    background-color: #fdfdfd;
    margin-top: 1.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .menu .nav-item:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin: 0.5em;
    color: #1d2a3d !important;
    transition: all 0.2s;
  }
  .menu .dropdown-menu a {
    transition: 0.2s;
    margin: 10px 0px;
  }
}
@media screen and (max-width: 465px) {
  .container-item,
  .container-item-comment {
    padding: 0px;
  }
}
.partners .card {
  transition: 0.3s;
  border-radius: 10px;
}
.partners .card:hover {
  background: #f6f6f6 !important;
}
