@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iranyekanwebboldfanum.eot");
  src: url("../fonts/eot/iranyekanwebboldfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebboldfanum.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/eot/iranyekanwebthinfanum.eot");
  src: url("../fonts/eot/iranyekanwebthinfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebthinfanum.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iranyekanweblightfanum.eot");
  src: url("../fonts/eot/iranyekanweblightfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanweblightfanum.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iranyekanwebregularfanum.eot");
  src: url("../fonts/eot/iranyekanwebregularfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebregularfanum.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/iranyekanwebmediumfanum.eot");
  src: url("../fonts/eot/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebmediumfanum.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/eot/iranyekanwebextraboldfanum.eot");
  src: url("../fonts/eot/iranyekanwebextraboldfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebextraboldfanum.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("../fonts/eot/iranyekanwebblackfanum.eot");
  src: url("../fonts/eot/iranyekanwebblackfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebblackfanum.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/iranyekanwebextrablackfanum.eot");
  src: url("../fonts/eot/iranyekanwebextrablackfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebextrablackfanum.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

* {
  font-family: "iranyekan";
}
a {
  text-decoration: none;
}
.bg-navbar {
  background-color: #1d2a3d;
}
.menu li a {
  font-size: 0.85rem;
}
.menu .nav-item:not(:last-child) .nav-link {
  border-radius: 5px;
  color: #fff;
}
.menu .nav-item:not(:last-child) a:hover {
  background-color: #fff;
  transition: all 0.2s ease;
  color: #1d2a3d;
}
.menu .dropdown-menu .dropdown-item:hover {
  background: #1d2a3d !important;
  color: #fff !important;
}

.menu .nav-item:last-child {
  background-color: #344765;
  border-radius: 7px;
  transition: 0.3s;
  border: 1px solid #344765;
}
.menu .nav-item:last-child a {
  color: #fff;
  transition: 0.3s;
}
.menu .nav-item:last-child:hover {
  background-color: transparent;
  border-color: #fff;
  transition: 0.3;
}
.header-two select,
input {
  outline: none !important;
}

.header-two select,
input::placeholder {
  font-size: 14px;
  font-weight: 300;
}
.header-two a {
  font-size: 14px;
  border-left: 4px dotted #ccc;
  border-radius: 0;
}
.header-two a:hover {
  border-left: 4px dotted #ccc;
}
.header-two button {
  color: #fff;
  background-color: rgb(233, 83, 79);
  font-size: 14px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}
.header-two button:hover {
  background-color: #fff;
  color: rgb(233, 83, 79);
  border: 1px solid rgb(233, 83, 79);
}
#home-slider .carousel-caption {
  top: 50%;
}
#home-slider .carousel-caption a {
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  border: 1px solid #fff;
}
#home-slider .carousel-caption a:hover {
  background: #fff;
  color: #000;
  border-color: transparent;
}
.features,
.features2 h5 {
  font-size: 16;
  font-weight: 600;
}
.features p {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 7px;
}
.features2 p {
  font-weight: 300;
  font-size: 14px;
}

/* slider-1st */

.custom-card1 {
  transition: 0.3s ease;
  overflow: hidden;
}
.custom-card1:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px !important;
}
.card-img-custom {
  position: relative;
}
.card-img-custom .overlay2 {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.6) 0%,

    rgba(255, 255, 255, 0) 100%
  ) !important;

  color: #fff;
  border-radius: 5px 5px 0 0;
}
.card-img-custom {
  width: 100%;
  height: 250px;
}
.card-img-custom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card-img-custom .overlay-img-cad .top-img-slider small {
  background-color: #1d2a3d;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
}
.card-img-custom .overlay-img-cad .bottom-img-slider a {
  font-size: 13px;
  color: #fff;
  opacity: 0.5;
}
.card-img-custom .overlay-img-cad .bottom-img-slider a:hover {
  opacity: 1;
}
.card-img-custom .overlay-img-cad {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}
.container-item {
  padding: 10px;
  background-color: transparent;
  margin-bottom: 20px;
}
.slick-dots li button:before {
  font-size: 12px;
}
.slick-dots li.slick-active button:before {
  color: #1d2a3d;
}

.city-images {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.city-images img {
  transition: 0.5s;
}
.city-images:hover img {
  transform: scale(1.3) rotate(3deg);
  transition: 0.5s;
}

.overlay3 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}
.overlay-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.2rem;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
.overlay-text p {
  font-weight: bolder;
  font-size: 2rem;
}
.overlay-text small {
  font-weight: 300;
}
.card,
.custom-card1 {
  border-radius: 15px;
}

.choose-us-card p {
  font-weight: 800;
  font-size: 20px;
}
.choose-us-card small {
  font-weight: 300;
  font-size: 14px;
}
.choose-us-card {
  transition: all ease 0.3s;
}
/*style image of city*/

/* media query */
@media screen and (min-width: 768px) {
  .menu .dropdown-menu {
    display: block;
    border-radius: 0;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    background-color: #fdfdfd;
    margin-top: 1.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .menu .nav-item:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin: 0.5em;
    color: #1d2a3d !important;
    transition: all 0.2s;
  }
  .menu .dropdown-menu a {
    transition: 0.2s;
    margin: 10px 0px;
  }
}
@media screen and (max-width: 465px) {
  .container-item {
    padding: 0px;
  }
}
